<div class="flexbox">
    
    <div class="item">
        <div class="pic">hello</div>
        <div class="sub">
            <h4 class="cat-title">Magazine</h3>
            <h4 class="ar-title">Article title</h3>
            <p class="show-article-body">Article body</p>
        </div>
    </div>
    <div class="item">
        <div class="pic">hello</div>
        <div class="sub">
            <h4 class="cat-title">Magazine</h3>
            <h4 class="ar-title">Article title</h3>
            <p class="show-article-body">Article body</p>
        </div>
    </div>
    <div class="item">
        <div class="pic">hello</div>
        <div class="sub">
            <h4 class="cat-title">Magazine</h3>
            <h4 class="ar-title">Article title</h3>
            <p class="show-article-body">Article body</p>
        </div>
    </div>
    <div class="item">
        <div class="pic">hello</div>
        <div class="sub">
            <h4 class="cat-title">Magazine</h3>
            <h4 class="ar-title">Article title</h3>
            <p class="show-article-body">Article body</p>
        </div>
    </div>
   
</div>