
<div class="recent-color-overlay"></div>
<% obj.each do |article| %>
<div class="recent">
   <div class="bg-recent-img" style="background-image: url(<%= rails_blob_url(article.image) %>)">
       <div class="show-art-cont">
            <% if article.categories.any? %>
                <%= render article.categories %>
            <% end %>
            <div class="article-title-front">
                <%= link_to article.title , article_path(article) %>
            </div>
       </div>
   </div>
</div>
<%end%>