<% obj.each do |article| %>
<div class="lower-col">
       
        <div class="show-art-cont">
            <% if article.categories.any? %>
                <p><%= render article.categories %></p>
            <% end %>
        <div class="article-body">
            <%= link_to article.title , article_path(article) %>
        </div>
        <!--<%= article.content %>-->
        </div>
</div> 
<% end %>