<% obj.each do |article| %>
<div class="lower-col">
  <div class="article-img imsize">
               <div class="color-overlay"></div>
   <div class="bg-img" style="background-image: url(<%= rails_blob_url(article.image) %>)"></div>
        </div>
       
        <div class="show-art-cont">
            <% if article.categories.any? %>
                <p><%= render article.categories %></p>
            <% end %>
        <div class="article-title-front">
            <%= link_to article.title , article_path(article) %>
        </div>
        </div>
</div> 
<% end %>