<div class="all-cat">
    <div class="first-part">
        <div class="most-rated">
             <% @most_rated_articles.each do |a| %>
             
            
             <div class="rated_title">
                 <%=  link_to "#{a.title}", article_path(a) %>
             </div>
             <div class="rated_content">
                  <%= a.content %>
             </div>
             <% end %>
        </div>
      <div class="top-image">
        <p>weather</p>
      </div>
         
    </div>
    <div class="upper-part">

        <div class="lower-part">
           <%= render 'article', obj:@recent_articles %>
        </div>
    </div>
</div>
   
 