<div class="all-cat">
    <div class="upper-part">
        
    </div>
    <div class="lower-part">
        <% @articles.each do |article| %>
      
      
        <%= link_to "#{article.title}", article ,  class:"article-title" %>
       <div class="article-body">
           
        <%= article.content %>
       </div>
        <div class="article-img">
             <%= image_tag(article.image) %>
        </div>
        
    <% end %>
    </div>
     
</div>
   
 