
<% if object.errors.any? %>
<div class="row">

<div class="col-xs-8 col-xs-offset-2">

<div class="panel panel-danger">

<div class="panel-heading">
  
<h2 class="panel-title">
  
  <%= pluralize(object.errors.count, "error") %>
  prohibited this  from being saved:

</h2>

<div class="panel-body">
  <% object.errors.full_messages.each do |msg| %> 
  <ul>
    <li> <%= msg %> </li>
  </ul>
  <% end %>
  
</div>

</div>

</div>

</div>

</div>
<% end %>