@import "bootstrap-sprockets";
@import "bootstrap";

header{
  background-color:#fff;
}
.navlogo{
  position:absolute;
  padding:3px;
  float:left;
  margin-left:2px;
  margin-top:10px;
  color:#5a514c;
}
.category-list
{
  width:50%;
   margin-left:22rem;
}
.logo-dot{
  color:#f76107;
}
#home-btn{
  color:#f76107;
}
.category-ul{
  width:auto;
  float:left;
  margin-top:18px;
}
.category-li{
  display:inline-block;
  // padding:5px 30px;
}
.cat-link-names{
  text-align:center;
  text-decoration:none;
  font-size:2rem;
  text-transform:uppercase;
  color:#cfcecc;
}
.authentication{
  float:right;
}
.auth-link{
  text-align:center;
  text-decoration:none;
  font-size:2rem;
  text-transform:uppercase;
  color:#cfcecc;
}
.auth-li{
  list-style:none;
  width:auto;
  float:left;
  margin-top:18px;
  margin-left:1rem;
}
.auth-div{
  margin-right:5rem;
 }

.dropbtn {
  background-color:White;
  color: #cfcecc;
  font-size:2rem;
  border: none;
  cursor: pointer;
  text-transform:uppercase;
}

.dropdown {
  display: inline-block;
  margin-right:2rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #f1f1f1;
}
.all-cat{
  display:flex;
}
.upper-part{
  // background: #000;
  color:#fff;
}
.lower-part{
  display:flex;
 flex-wrap:wrap;
}
.lower-col{
margin:1rem;
width:300px;
height:300px;
border:5px solid red;
}
.article-title:hover{
color:#7f8c8d;
text-decoration: none;
}
.lower-col a{
  // color:#fff;
// background:#000;
}
.article-title{
font-size: 1.5rem;
font-weight:bold;
border-bottom:3px solid #9a9014;
padding-bottom: 0.1rem;
color:#5a514c;
text-decoration: none;
position:relative;
top:3rem;
left:2rem;
}
img{
  
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.imsize{
  height:300px;
}
.body-flex{
  // display:flex;
  // align-items:center;
}
.article-body{
  position: relative;
  top:8rem;
  // border:2px solid green;
  color:black;
}
.lower-col{
  
}



