 <footer>
   
   <div class="foot">
     <h3 class="navlogo">LiFEsTlye<span class="logo-dot"></span></h3>
   </div>
   <div class="foot">
     <p>Privacy Policy Terms & Conditions <span class="copy">Copy rights 2014.
     All rights reserved</span></p>
   </div>
   <div class="foot">
      <ul class="footer-icons">
                <li>
                  <a href="#">
                    <i class="fab fa-facebook-square"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fab fa-twitter-square"></i>
                  </a>
                </li>
               
                <li>
                  <a href="#">
                    <i class="fab fa-instagram"></i>
                  </a>
                </li>
        </ul>
   </div>
       
        
</footer>