 <footer>
        <ul class="footer-icons">
                <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
               
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        </ul>
        
</footer>