
<% if logged_in? %>

<%= link_to "Log out", logout_path, method: :delete %>
</li>
<% else %>
<li>
<%= link_to 'Login', login_path %> |
</li>

<li>
<%= link_to 'Register', signup_path %>
</li>
<% end %>
</ul>
</div>
